<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        <section class="bar background-pentagon no-mb">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="heading text-center">
                          <h2>{{ .Site.Params.mission1.title }}</h2>
                      </div>
      
                      <p class="lead" style="word-wrap: break-word;">
                        {{ .Site.Params.mission1.subtitle | markdownify }}
                      </p>
                  </div>
                  <div class="col-md-12">
                      <div class="heading text-center">
                          <h2>{{ .Site.Params.mission2.title }}</h2>
                      </div>
      
                      <p class="lead" style="word-wrap: break-word;">
                        {{ .Site.Params.mission2.subtitle | markdownify }}
                      </p>
                  </div>
                  <div class="col-md-12">
                      <div class="heading text-center">
                          <h2>{{ .Site.Params.mission3.title }}</h2>
                      </div>
      
                      <p class="lead" style="word-wrap: break-word;">
                        {{ .Site.Params.mission3.subtitle | markdownify }}
                      </p>
                  </div>
      
              </div>
          </div>
        </section>

        <!-- Raisee -->
        <section class="bar background-gray no-mb">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 style="margin-bottom: 40px;">RAISEE Organization</h1>
                <a class="lead" href="/rewards/" style="margin-bottom: 40px !important; display: block;">Rewards</a>
                <a class="lead" href="/awareness/" style="margin-bottom: 40px !important; display: block;">Awareness</a>
                <a class="lead" href="/investigation/" style="margin-bottom: 40px !important; display: block;">Investigation</a>
                <a class="lead" href="/safety/" style="margin-bottom: 40px !important; display: block;">Safety</a>
                <a class="lead" href="/education/" style="margin-bottom: 40px !important; display: block;">Education</a>
                <a class="lead" href="/" style="margin-bottom: 40px !important; display: block;">Elderly</a>
              </div>
            </div>
          </div>
        </section>
        <!-- end -->
        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>